    <!-- here are the cards for the 5 day forecast -->
    <p><a href="/logout">Logout</a></p>

    <div class="row">
        <div class="col-2 day-1">
            <div class="date"></div>
            <div class="icon"></div>
            <div class="temp-five">{{relationship}}</div>
            <div class="humid"></div>
        </div>
        <div class="col-2  day-2">
            <div class="date"></div>
            <div class="icon"></div>
            <div class="temp-five"></div>
            <div class="humid"></div>
         </div>
        <div class="col-2  day-3">
            <div class="date"></div>
            <div class="icon"></div>
            <div class="temp-five"></div>
            <div class="humid"></div>
        </div>
        <div class="col-2   day-4">
            <div class="date"></div>
            <div class="icon"></div>
            <div class="temp-five"></div>
            <div class="humid"></div>
        </div>
        <div class="col-2  day-5">
            <div class="date"></div>
            <div class="icon"></div>
            <div class="temp-five"></div>
            <div class="humid"></div>
        </div>
     </div>   
    </div>
    <p>Create a profile <a href="/newprofile">here</a></p>