<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav"><img src="/assets/images/gift.png" height="125" width="125" alt="Keep on Giftin'">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="viewdash btn btn-outline-primary">Dashboard</a>
        </li>
        <li class="nav-item">
          <a href="/newprofile" class="btn btn-outline-primary">Create New Profile</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="btn btn-outline-primary">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
 <div class="event_container" style="background-color;">
      <h1 style=>{{individualProfile.firstName}} {{individualProfile.lastName}}</h1> 
      <h6>What type of event or upcoming celebration would you like to add?</h6>
      {{!-- Event options list --}}
      <select class="event-options">
        <option value=""></option>
        {{!-- <option value="anniversary">Anniversary</option>
        <option value="annual-holdiay">Annual Holiday</option> --}}
        <option value="special-occasion">Special Occasion</option>
      </select>

      <br>

      {{!-- TBD: list of holidays --}}
      <div class="hide" id="list-of-holidays">
        <h6>Which holiday will you be celebrating?</h6>
        <select name="" id="">
          <option value=""></option>
          <option value=""></option>
          <option value="placeholder">Placeholder</option>
        </select>
      </div>

      <br>

      {{!-- Special occasions list --}}
      <div class="hide" id="list-of-occasions">
        <h6>Select occasions celebrated:</h6>
        <select name="special" id="special">
          <option value="Wedding">Wedding</option>
          <option value="Engagement">Engagement</option>
          <option value="Divorce">Divorce</option>
          <option value="Graduation">Graduation</option>
          <option value="Just Because">Just Because</option>
          <option value="Religious Ceremony">Religious Ceremony</option>
          <option value="Promotion">Promotion</option>
          <option value="Baby Shower">Baby Shower</option>
        </select>
      </div>

      <br>

      <label>Date</label>
      <input type="text" id="event-date" placeholder="Please select Date" data-input>

  <submit class="btn create-event-btn btn-secondary" data-id={{profileID}}>Add the event!</submit>
</div>


<div class="footer">
  <p>Made by girl-power-5 ubiquitous-giggle Copyright &#169; 2021</p>
</div>


<script src="/assets/js/newevent.js"></script>