<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav"><img src="/assets/images/gift.png" height="125" width="125"
        alt="Keep on Giftin'">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="viewdash btn btn-outline-primary">Dashboard</a>
        </li>
        <li class="nav-item">
          <a href="/newprofile" class="btn btn-outline-primary">Create New Profile</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="btn btn-outline-primary">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<form class="profile new_container">
  <div class="">
    <h1>Create profile</h1>
    <h4>Required information</h4>
    <!-- First Name Last Name -->
    <form class="profile">
      <div class="row-1">
        <div class="col">
          <input type="text" class="form-control  first-name" placeholder="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control last-name" placeholder="Last name">
        </div>
      </div>
      <br>
      <!-- Relationship -->
      <label class="relationship">Relationship
      </label>
      <select name="relationship" id="relationship">
        <option value=""></option>
        <option value="Parent/Guardian">Parent/Guardian</option>
        <option value="Sibling">Sibling</option>
        <option value="Child">Child</option>
        <option value="Aunt/Uncle">Aunt/Uncle</option>
        <option value="Someone Special">Someone Special</option>
        <option value="It's Complicated">It's Complicated</option>
        <option value="Partner">Partner</option>
      </select>
      </label>
      <br>
      <!-- Birthday-->
      <label class="birthday">Date of Birth
      </label>
      <input type="text" id="birthday" placeholder="xx-xx" data-input>
      <div class="form-group col-md-4">
        <label for="inputNum">Phone Number</label>
        <input type="text" class="form-control" id="inputNum">
      </div>
      <div class="form-group col-md-4">
        <label for="inputEmail">Email</label>
        <input type="text" class="form-control" id="inputEmail">
      </div>
      <!-- Address -->
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select id="inputState" class="form-control">
            <option selected></option>
            <option>AL</option>
            <option>AK</option>
            <option>AZ</option>
            <option>AR</option>
            <option>CA</option>
            <option>CO</option>
            <option>CT</option>
            <option>DE</option>
            <option>FL</option>
            <option>GA</option>
            <option>HI</option>
            <option>ID</option>
            <option>IL</option>
            <option>IN</option>
            <option>IA</option>
            <option>KS</option>
            <option>KY</option>
            <option>LA</option>
            <option>ME</option>
            <option>MD</option>
            <option>MA</option>
            <option>MI</option>
            <option>MN</option>
            <option>MS</option>
            <option>MO</option>
            <option>MT</option>
            <option>NE</option>
            <option>NV</option>
            <option>NH</option>
            <option>NJ</option>
            <option>NM</option>
            <option>NY</option>
            <option>NC</option>
            <option>ND</option>
            <option>OH</option>
            <option>OK</option>
            <option>OR</option>
            <option>PA</option>
            <option>RI</option>
            <option>SC</option>
            <option>SD</option>
            <option>TN</option>
            <option>TX</option>
            <option>UT</option>
            <option>VT</option>
            <option>VA</option>
            <option>WA</option>
            <option>WV</option>
            <option>WI</option>
            <option>WY</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputZip">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="col-md-4">

        </div>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="valentines_day" data-id="0" id="valentines_day">
        <label class="form-check-label" for="flexCheckChecked">
          Valentine's Day
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="hanukkah" data-id="0" id="hanukkah">
        <label class="form-check-label" for="flexCheckChecked">
          Hanukkah
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="christmas" data-id="0" id="christmas">
        <label class="form-check-label" for="flexCheckChecked">
          Christmas
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input mothers-day" type="checkbox" value="mothers_day" data-id="0" id="mothers_day">
        <label class="form-check-label" for="flexCheckChecked">
          Mother's Day
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="fathers_day" data-id="0" id="fathers_day">
        <label class="form-check-label" for="flexCheckChecked">
          Father's Day
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="halloween" data-id="0" id="halloween">
        <label class="form-check-label" for="flexCheckChecked">
          Halloween
        </label>
      </div>

      <div class=" d-flex align-items-center justify-content-center">
        <button type="submit" class="btn btn-outline-secondary">Save</button>
      </div>
  </div>
  </div>
</form>

<br>
<br>
<br>
<br>
<br>

<div class="footer">
  <p>Made by girl-power-5 ubiquitous-giggle Copyright &#169; 2021</p>
</div>

<script src="assets/js/newprofile.js"></script>