<form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
    <label>Relationship 
        </lable>
        <br>
        <br>
        <select name="relationship" id="relationship">
        <option value="Mother/Father">Mother/Father</option>
        <option value="Sister/Brother">Sister/Brother</option>
        <option value="Daughter/Son">Daughter/Son</option>
        <option value="Aunt/Uncle">Aunt/Uncle</option>
        <option value="Special">Special</option>
        <option value="It's_Complicated">It's Complicated</option>
        <option value="Partner">Partner</option> 
        </select>
    </label>
    </div>
 <button type="submit" class="btn btn-default">Create New Profile</button>
</form>