<div class="container col-md-10">
  <ul class="nav nav-tabs">
    <li class="active">
      <button class="btn"><a href="#1" data-toggle="tab">Valentine's Day</a></button>
    </li>
    <li>
      <button class="btn btn-primary-outline"><a href="#2" data-toggle="tab">Hanukkah</a></button>
    </li>
    <li>
      <button class="btn btn-primary-outline"><a href="#2" data-toggle="tab">Christmas</a></button>
    </li>
    <li>
      <button class="btn btn-primary-outline"><a href="#2" data-toggle="tab">Christmas</a></button>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="1">
      <div class="col-lg-12">
  
      </div>
    </div>
  </div>
</div>