h4 {
    text-align: center;
}
/* .sidebar {
    background-color: blueviolet;
} */

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 50px
}

/*new profile css*/
* {

  padding: 3px;
}
.new_container, .profile-container {
  border-radius: 25px;
  border: 2px solid	rgb(208,208,208);
  background-color:rgb(255, 255, 255) ;
  padding: 20px; 
  width: 600px;
  height: 800px;  
  margin: auto;
  font-size: 17px;
  position: relative;
  text-align: left
   
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 30px;
   
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .hide {
    display: none;
  }

.relationship, .birthday{
text-align: left;

}

h1,h2 {
 text-align: center;
}

.profile-view {
  text-align:left
}
 .gift-ideas {
   text-align: center;
   margin-top: 25px
 }

