h4 {
    text-align: center;
}
.sidebar {
    background-color: blueviolet;
}
.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* newprofile css below */
* {
    box-sizing: border-box;
    padding: 3px;
   
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 30px;
   
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  /*
