h4 {
    text-align: center;
}
.sidebar {
    background-color: blueviolet;
}
.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*new profile css*/
* {
  padding: 3px;
}
.new_container{
  border-radius: 25px;
  border: 2px solid	rgb(208,208,208);
  background-color:rgb(255, 255, 255) ;
  padding: 20px; 
  width: 600px;
  height: 800px;  
  margin: auto;
  font-size: 17px;
  position: relative;
  text-align: left
  
};

.relationship, .birthday{
text-align: left;

}

h1,h2 {
 text-align: center;

}